@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-image: url('../public/assets/img/Minimalist-Desktop-Wallpapers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; /* Evita el desbordamiento del body */
}

